.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    text-align: center;
    background-color: whitesmoke;
}

.content{  
    width: 100%;
    display: flex;
	overflow: auto;
	flex-direction: column;
}

.content-page{  
    padding: 0 30px;
    flex: 1;
    width: 100%;
    display: flex;
    overflow: auto;
	padding-top: 30px;
}

.content-page .filters{  
    width: 25%;
}

.content-page .results{  
    width: 75%;
    padding: 20px;
    margin-bottom: 110px;
    overflow: auto;
}

.course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h2 {
	letter-spacing: 1px;
    margin: 10px 0;
    text-transform: capitalize;
}

pre {
    background: #EEE;
    padding: 10px;
    border-left: 5px solid #6474c2;
}

.course-preview {
	background:#6474c2;
	color: #fff;
	padding: 30px;
    width: 30%;
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	text-decoration: none;
}

@media all and (max-width: 768px) {
	h2{
		font-size: 18px;
	}
	.course-preview{
		width: 40%;
	}
}


.course-info {
	padding: 30px;
	position: relative;
	width: 70%;
}

.course-info .btn {
	background:#6474c2;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff !important;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
}

.course-info pre ul{
	padding-left: 10px;
	font-size: 0.75rem;
	list-style: none;
	margin-top: 5px;
	font-size: 16px;
	line-height: 1.4rem;
	list-style: 'none';
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}

.progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}

.progress::after {
	border-radius: 3px;
	background-color: #6474c2;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 66%;
}

.progress-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
}

@media all and (max-width: 1024px) {
	.course-info pre ul{
		margin-bottom: 30px;		
	}
}


@media all and (max-width: 768px) {
	.course-info pre ul{
		font-size: 0.7rem;
		line-height: 1rem;
	}
}

@media screen and (max-width: 480px) {

	.floating-btn {
		right: 10px;
	}

	.logo-aletheia{
	    position: fixed;
		z-index: 99999;
		cursor: pointer;
		top: 25px;
		left: 65%;
		width: 140px;
		height: 50px;
	}
	.course{
		flex-direction: column;
	}
	.course-preview, .course-info{
		width: 100% !important;
	}
	.course-info pre ul{
		font-size: 0.8rem;
		line-height: 1.1rem;
		padding-left: 0;
	}
}